:root{
    --my-color-green:rgb(8, 148, 117);
}
.sc-color{
    background-color: var(--my-color-green);
}
.debugs{
    border: 1px solid white;
}
.customborder{
    border: 2px solid white;
    width:15%;
    height: 3px;
}
.myfontsize{
    font-size: 0.8em;
}
.customborder2{
    border: 2px solid rgb(0, 0, 0);
    width:15%;
    height: 3px;
}

myfontsize2{
    font-size:1.4em;
}
.mytext-color{
    color: var(--my-color-green);
}
.myfootercolor{
    background-color: rgb(7, 7, 121);
}
.myimgcontainer{
    position:relative;
    cursor: pointer;
    
}
.myimgcontainer:hover::after{
    content: '+';
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--my-color-green);
    color: white;
    font-size: 5em;
    font-weight: bold;
}